<h1><%= @habit.type_id %></h1>

<h2>Description: <%= @habit.description %></h2>
<h2>Weekly Goal: <%= @habit.weekly_goal %></h2>
<h2>Reminder? <%= @habit.reminder %></h2>

<br />
<br />
<div class="waves-effect waves-light cyan lighten-2 btn">
  <%= link_to "All Habits", habits_path, class: 'link-to-text-color' %>
</div>
<br />
<br />
<div class="waves-effect waves-light cyan lighten-2 btn">
  <i class="material-icons left">update</i>
  <%= link_to "Edit Habit",edit_habit_path(@habit), class: 'link-to-text-color' %>
</div>
<br />
<br />
<div class="waves-effect waves-red red btn">
<%= form_for @habit, html: {method: "delete"} do |f|%>
  <%= f.submit "Delete"%>
<% end %>
</div>
